<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<% if flash[:error] %>
				<div class="alert alert-danger">
					<strong>Opss!</strong> <%= flash[:error] %>.
				</div>
			<% end %>
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Download youtube music</h3>
					<form action="/download" method="post">
					<div class="form-group">
						<input class="form-control input-lg" type="text" name="music" placeholder="Past youtube link here">
					</div>
					<input id="download" type="submit" class="btn btn-danger btn-lg btn-block" value="Download">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>