<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Download youtube music</h3>
					<div class="form-group">
						<input class="form-control input-lg" type="text" placeholder="Youtube Link or music name">
					</div>
					<button type="button" class="btn btn-danger btn-lg btn-block">Download</button>
				</div>
			</div>
		</div>
	</div>
</div>